
/* Home Page  */

#profile-button {
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    padding: 0.75rem;
    font-weight: bold;
    color: white;
    background-color: #2563eb;
}

#profile-button:hover {
    background-color: #022164;
    transition: ease-in 0.2s ;
    transition-duration: 200ms;
}

#pageButton:active {
    transform: scale(0.95);
}

/* Account Page  */

