.custom-buttons {
    background: linear-gradient(#155DFC,#1447E6);
    color: #ffffff;
    border: none;
    outline: none;
    padding: 14px 16px;
    border-radius: 0.75rem;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
}

.custom-buttons:hover {
     background: linear-gradient(#2b7bff, #1a56ff)
}

.custom-buttons:active {
     transform: translateY(1px);
}

.hidden {
    display: none;
}

/* Toast */

#toast-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.toast {
    background: white;
    position: relative;
    border-radius: 0.5rem;
    font-weight: 400;
    margin: 15px 0;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 0 1rem;
    min-width: 300px;
    animation: slideIn 0.3s ease;
}

.toast-header {
    font-weight: bold;
    font-size: 1.5rem;
}

.toast-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toast::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: green;
    animation: loading 5s linear forwards;
}

.toast-error::after {
    background-color: red;
}

.toast-warning::after {
    background-color: orange;
}

@keyframes loading {
    100% {
        width: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.toast .material-icons {
    font-size: 3rem;
}

.icon-success {
    color: green;
}

.icon-error {
    color: red;
}

.icon-warning {
    color: orange;
}